* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	background: linear-gradient(360deg, #0b0b0b 70%, #252525 100%);
	color: #999;
    height: 100;
    overflow-x: hidden;  
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

nav {
    background-color: #000;
    width: 200px;
    height: 100vh;
    position: fixed;
}

.logo {
    width: 150px;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

nav ul li {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #999;
}

.nav3 {
    padding-top: 140px;
    font-size: 10px;
}

.nav4 div {
    border: 2px solid #999;
    border-radius: 100px;
}

.nav4 div li {
    padding: 5px;
}

main {
    padding-left: 200px;
}

.main-nav {
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    gap: 5px;
}

.cta {
    display: flex;
    border: 2px solid greenyellow;
    order: 2;
}

.cta ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}


.cta ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-nav {
    width: 20px;
}

.icon-nav-main {
    width: 16px;
}

.arrowleft, .arrowright {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #090909;
     padding: 0;
     width: 25px; /* adjust the width and height as needed */
     height: 25px;
     border-radius: 50%;
     box-sizing: border-box;
}

.main-body {
    margin: 10px;
}

.focustitle {
    display: flex;
}

.title {
    padding: 20px;
    color: white;
}

.cover {
    padding-top: 20px;
    width: 120px;
    height: 140px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
}

.playlistdiv {
    padding: 10px;
    margin: 15px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    border-radius: 5px;
    height: 230px;
}

.imagetext {
    padding: 20px 0;
    color: white;
}

.imagetext p {
    color: #999;
}

.pdtitle {
    margin-bottom: 5px;
     line-height: 1.5; /* adjust the line height as needed */
    -webkit-line-clamp: 1; /* display up to 2 lines of text */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}

.pdparag {
    font-size: 12px;
    max-width: 120px;
    margin: 0;
    line-height: 1.5; /* adjust the line height as needed */
    -webkit-line-clamp: 2; /* display up to 2 lines of text */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.focusplaylists {
    display: flex;
}

.links {
    border: 2px solid greenyellow;
    padding: 20px;
}

.links h1 {
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.7;
}

.links h2 {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.7;
}